<a href="https://colab.research.google.com/github/Binaya077/pythontry/blob/test/condition_and_branching_and_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number=int(input("enter number\n"))
if number>=0:
 print(f"{number} is positive")

else:
  print(f"{number} is negative")

enter number
-5
-5 is negative

In [ ]:
#nested if else
num1=int(input("enter number\n"))
num2=int(input("enter number\n"))
num3=int(input("enter number\n"))
if num1>num2:
  if num1>num3:
    print(f"{num1} is maximum")
  else:
    print(f"{num3} is maximum")
else:
  if num2>num3:
    print(f"{num2} is maximum")
  else:
    print(f"{num3} is maximum")

enter number
1
enter number
5
enter number
2
5 is maximum

In [ ]:
#maximum number using ternary operator
a=20
b=30
print("a is greater than b") if a>b else print("b is greater")

b is greater

In [ ]:
#write program using pass keyword
a=20
b=50
if a>b:
  pass
else:
  pass

#Loop

In [ ]:
i=0
while i<10:
  if(i==3):
   break
  print("hello world")
  i=i+1

hello world
hello world
hello world

In [ ]:
#using continue keyword
i=0
while i<5:
  if(i==3):
    print("continue")
    i=i+1
    continue
  print("hello world")
  i=i+1

hello world
hello world
hello world
continue
hello world

In [ ]:
#even odd in list
sample_list=[10,20,5,7,2,9,13,100]
for item in sample_list:
  if(item%2==0):
   print(item, "is even")
  else:
   print(item,"is odd")

10 is even
20 is even
5 is odd
7 is odd
2 is even
9 is odd
13 is odd
100 is even

In [ ]:
#loop using range function
for i in range(5):

   print("*"*(i+1))

*
**
***
****
*****

In [ ]:
#write a program that generates all possible combination of three number from 1 to 5 using nested for loop and prints them.
a=[1,2,3,4,5]
for i in range(1,6):
 for j in range(1,6):
  for k in range(1,6):
    print(i,j,k)

#Function

In [ ]:
#without return type and without parameter
def print_greater():
  """
  display greater between two number

  """
  num1=int(input("enter number 1:\n"))
  num2=int(input("enter number 2:\n"))

  if(num1>num2):
    print("num1 is greater")
  else:
       print("num2 is greater")

print_greater()

In [ ]:
#with parameter and without return type
def print_greater(num1,num2): #parameter
  """
  display greater between two number

  """

  if(num1>num2):
    print("num1 is greater")
  else:
       print("num2 is greater")

num1=int(input("enter number 1:\n"))
num2=int(input("enter number 2:\n"))
print_greater(num1,num2)#argument

enter number 1:
5
enter number 2:
6
num2 is greater

In [ ]:
#without parameter and with return type
def print_greater():

    num1=int(input("enter number 1:\n"))
    num2=int(input("enter number 2:\n"))
    if(num1>num2):
      msg="num1 is greater"
    else:
      msg="num2 is greater"
    return msg

msg=print_greater()
print(msg)

enter number 1:
5
enter number 2:
6
num2 is greater

In [ ]:
#create a function with return type and parameter
def print_greater(num1, num2):

    num1=int(input("enter number 1:\n"))
    num2=int(input("enter number 2:\n"))
    if(num1>num2):
      msg="num1 is greater"
    else:
      msg="num2 is greater"
    return msg

msg=print_greater(num1,num2)
print(msg)

enter number 1:
5
enter number 2:
4
num1 is greater

In [ ]:
def func(b,*a): #positional argument example here a hold first value and rest is hold by *a
  print(a)

func(1,2,3,4,5,6,7,8,9,10)

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#arbitraty positional argument is *args
def multiply(*args):
   i=1
   for item in args:
     i=i*item
   return i
multiply(1,2,3,4,5)

120

In [ ]:
#arbitrary keywords arguments
def my_func(**kwargs): #it hold key and value
  for key, value in kwargs.items():
    print(f"{key}:{value}")

my_func(name="john", age=30)
my_func(name="rita", age=30)

name:john
age:30
name:rita
age:30

#Recursion

In [ ]:
#Factorial number
def factorial(n):
  if(n==0 or n==1):
   return 1
  else:
   return n*factorial(n-1)

print(factorial(5))
print(factorial(4))
print(factorial(0))

120
24
1

In [ ]:
#fibonacci series
num=int(input("input enter number"))
def fib(n):
 if(n<=1):
  return n
 else:
  return (fib(n-1)+fib(n-2))
for term in range(num):
  print(fib(term))

#CLASS AND OBJECT

In [ ]:
class Vehicle:
  is_electric=False

car=Vehicle() #creating object car
print(type(car))
print(Vehicle.is_electric) #accessing by class name
print(car.is_electric) #accessing by object name

<class '__main__.Vehicle'>
False
False

In [ ]:
class Person:
   def sum():
    num1=int(input("enter first number\n"))
    num2=int(input("enter second number\n"))
    cal=num1+num2
    print("the sum is",cal)

Person.sum()#call by class name

#But when we call by obj we have to pass parameter
class Person:
   def sum(self): #pass parameter self
    num1=int(input("enter first number\n"))
    num2=int(input("enter second number\n"))
    cal=num1+num2
    print("the sum is",cal)

obj=Person()
obj.sum()#call by obj name

enter first number
4
enter second number
4
the sum is 8
enter first number
5
enter second number
5
the sum is 10

In [ ]:
class Vehicle:
  def __init__(self, car_type):
   self.car_type=car_type
car=Vehicle("car type")
car.car_type

'car type'

In [ ]:
#class Method
class Vehicle:
  is_electric=False
  @classmethod
  def display_car_type(cls):
    print(f"Ques: is vehicle electric:{cls.is_electric}")

Vehicle.display_car_type() #calling by class method

Ques: is vehicle electric:False

In [ ]:
#program for instance method
class Vehicle:
  def __init__(self, colour):#self is object or object location
    self.colour=colour

  def display_color(Self):
    print(f"car colour is:{Self.colour}")

car1=Vehicle('red')
car1.display_color()

car colour is:red

In [ ]:
#circumference of circle

#INHERITANCE

In [ ]:
#create private variable
class Vehicle:
  def __init__(self,colour):
    self.__vehicle_colour=colour #__vehicle_colour is private variable

  def access_private(self): #public method should be used to access private method
    return self.__vehicle_colour

car=Vehicle("red")
#car.__vehicle_colour   #we cant access private variable outside class
car.access_private()

'red'

In [ ]:
#single heritance

## Base class
class Vehicle:
  def __init__(self, name, color):
    self.name = name
    self.color = color

  def start(self):
    print(f"The {self.color}  {self.name} is starting.")

  def stop(self):
    print(f"The {self.color} {self.name} is stopping.")

## Derived class Car

class Car(Vehicle):
  def __init__(self, name, color, fuel_type):
    super().__init__(name, color) ## super is used to call base class constructor
    self.fuel_type = fuel_type

  def drive(self):
    print(f"The {self.color} {self.name} is driving.")

## Derived class Bike
class Bike(Vehicle):
  def __init__(self, name, color, engine_capacity):
    super().__init__(name, color) ## super is used to call base class constructor
    self.engine_capacity = engine_capacity

  def ride(self):
    print(f"The {self.color} {self.name} {self.engine_capacity} is being ridden.")


car=Car("car","red","petrol")
car.start()
car.stop()
car.drive()
bike=Bike("honda","red","225cc")
bike.ride()

The red  car is starting.
The red car is stopping.
The red car is driving.
The red honda 225cc is being ridden.

In [ ]:
#multiple inheritance

class Engine:   #base class 1
  def start(self):
    print("the engine is starting")

  def stop(self):
    print("the engine is stopping")

class Wheels:     #base class 2
  def rotate(self):
    print("the wheels are rotating")

class Car(Engine, Wheels):   #derived class
  def drive(Self):
    print("the car is being driven")

car=Car()
car.start()
car.stop()
car.rotate()
car.drive()

the engine is starting
the engine is stopping
the wheels are rotating
the car is being driven

In [ ]:
#multilevel inheritance
class Vehicle:
  def __init__(self,name):
    self.name=name;

  def start(self):
    print(f"the {self.name}is starting.")

class Car(Vehicle):
  def drive(self):
    print(f"the {self.name} is being driven.")

class Sports_car(Car):
  def accelerate(self):
     print(f"the {self.name} is accelerating.")

sports_car=Sports_car("sports car")
sports_car.start()
sports_car.drive()
sports_car.accelerate()

the sports caris starting.
the sports car is being driven.
the sports car is accelerating.

#Polymorphism

In [ ]:
#class type polymorphism
class Car:
  def __init__(self, name, color):
    self.name = name
    self.color = color

  def vehicle_type(self):
    print(f'{self.name} {self.color} is Electric type')

class Truck:
  def __init__(self, name, color):
    self.name = name
    self.color = color

  def vehicle_type(self):
    print(f'{self.name} {self.color} is Diesel type')

class Bike:
  def __init__(self, name, color):
    self.name = name
    self.color = color

  def vehicle_type(self):
    print(f'{self.name} {self.color} is Petrol type')


car=Car("sports_car","yellow")
car.vehicle_type()
truck=Truck("bigtruck","red")
truck.vehicle_type()
bike=Bike("pulsar","red and black")
bike.vehicle_type()

sports_car yellow is Electric type
bigtruck red is Diesel type
pulsar red and black is Petrol type

Q. Write a python program to create abstract class with method start(). Create another 2 class Car and Truck inherited from Abstract Class with the implementation of abstract method.
HINT:
# Create a Abstract Base Class named "Vehicle"

from abc import ABC, abstractmethod

class Vehicle(ABC):

  @abstractmethod
  def start(self):
    pass

In [ ]:
from abc import ABC, abstractmethod
class Vehicle(ABC):
   @abstractmethod
   def start(self):
    pass

class Car(Vehicle):
  def start(self):
    print("I am car")

class Truck(Vehicle):
  def start(self):
    print("I am truck")

car=Car()
car.start()
truck=Truck()
truck.start()

I am car
I am truck

In [ ]:
#create class with magic method
class Vehicle:
  def __init__(self,name,color,price,num_tiers):
    self.name=name
    self.color=color
    self.num_tiers=num_tiers
    self.price=price

  def __str__(self):
    return f"{self.color} {self.name} has price = {self.price}"

  def __add__(self, other):
    return self.price+other.price

  def __gt__(self, other):
    if(self.price>other.price):
      return True

    else:
      return False

  def __del__(self):
    print("object is destroyed")

    #instatntiate object here

car=Vehicle("car","red",100,4)
bus=Vehicle("bus","green",2000,8)

#invoke __str__
print(car)
print(bus)
print(str(car))
print(str(bus))


car+bus #obj add (__add__ method )is called

car>bus # (__gt__ )method is called

red car has price = 100
green bus has price = 2000
red car has price = 100
green bus has price = 2000

False

object is destroyed
object is destroyed

#File Handling

In [ ]:
!touch demo.txt #creating file using command
"hi my name isBinaya pokhrel"

'hi my name isBinaya pokhrel'

In [ ]:
filename="demo.txt"
fileobj=open("demo.txt","r") #file open in read mode
print(type(fileobj))

<class '_io.TextIOWrapper'>

In [ ]:
fileobj=open("demo.txt","w") #file open in write mode

In [ ]:
fileobj=open("demo.txt","a") #file open in append mode

In [ ]:
with open("demo.txt","r") as fileobj: #reading file for best practise
  file_content=fileobj.read()
print(file_content)
fileobj.close()

hy how are youNow the file has more content! Now the file has more content! Now the file has more content!

In [ ]:
f = open("demo.txt", "a")  #writing in file in append mode
f.write(" Now the file has more content!")
f.close()

In [ ]:
filecreate=open("demo1.txt", "x") #creating newfile

In [ ]:
with open("demo1.txt","w") as fileobj: #writing file
 fileobj.write("Hi this is new file") #we dont need to close file while using open()as:

In [ ]:
import os #os module is used to remove or delete file
os.remove("demo.txt") #command like !ls can be used to view created file name

In [ ]:
#if os.path.exists(filename) can be used to check file exist or not it return message in boolean form

#Database in Python

In [ ]:
import sqlite3  #creating database
db_name="user.db"
conn=sqlite3.connect(db_name) #sqlite3 establish connection with database
print("open database successfullly")

open database successfullly

In [ ]:
conn.execute("""CREATE TABLE Employees
       (
         ID INT PRIMARY KEY NOT NULL,
         NAME VARCHAR(50) NOT NULL,
         AGE INT NOT NULL,
         ADDRESS TEXT,
         SALARY FLOAT

          )
  """)
print("creted table successfully")

creted table successfully

In [ ]:
conn.execute(""" INSERT INTO Employees(ID, NAME,AGE,ADDRESS,SALARY) VALUES (3,"shyam",32,"KATHMANDU", 10000.00)""")
print("inserted data successfully")
conn.commit()

inserted data successfully

In [ ]:
cursor=conn.execute("SELECT * FROM Employees").fetchall();
print(cursor)

[(2, 'RAM', 32, 'KATHMANDU', 20000.0), (3, 'shyam', 32, 'KATHMANDU', 10000.0)]

In [ ]:
conn.execute("UPDATE Employees SET SALARY=50 WHERE ID=1")
conn.commit()

In [ ]:
conn.execute("UPDATE Employees SET ADDRESS='ramechap' WHERE ID=1")
conn.commit()

In [ ]:
conn.execute("DELETE FROM Employees WHERE ID=1")
conn.commit()

#Exception Handling

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
try:
  div=a/b
except Exception as e: #it handle all exception
    print("exception occur:",e)
print("hello world")

enter first number5
enter second number0
exception occur: division by zero
hello world

In [ ]:
#Handling multiple exception
try:
     a=int(input("enter first number"))
     b=int(input("enter second number"))
     division=a/b

except ValueError:

     print("cannot type cast string to int")

except ZeroDivisionError:

     print("division of zero occured which is not possible")

except Exception as e:

     print("exception occured. Exception name is:", e)

enter first number5
enter second numberh
cannot type cast string to int

In [ ]:
#Example of try except finally block
try:
     a=int(input("enter first number"))
     b=int(input("enter second number"))
     division=a/b
     print("division")

except ValueError:

     print("cannot type cast string to int")

except ZeroDivisionError:

     print("division of zero occured which is not possible")

finally:
  print("program execution completed")

enter first number5
enter second number0
division of zero occured which is not possible
program execution completed

In [ ]:
#Raising exception
def calculate_square_root(number):
  if number < 0:
    raise ValueError("cannot calculate square root of negative number")
  else:
    return number**0.5

#num=4
num=-4 #it raise exception
try:
 result=calculate_square_root(num)
 print(result)
except ValueError as e:
  print("value error:",e)

value error: cannot calculate square root of negative number