<a href="https://colab.research.google.com/github/Binaya077/pythontry/blob/test/string_indexing_and_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
non_value=None #non placeholder object
print(non_value)
type(non_value)

None

NoneType

In [ ]:
#to check whether value is int or not
int_value=5
isinstance(int_value,int)

True

In [ ]:
float_value=2e1 # it is like 2*10^1
print(float_value)
id(float_value)

20.0

139847256292080

In [ ]:
complex_value=1+2j
(complex_value)

(1+2j)

In [ ]:
complex_value=complex(1,2)
complex_value.real #for real
complex_value.imag #for imaginary

2.0

In [ ]:
complex_number=0j
type(complex_number)
print(complex_number)

0j

In [ ]:
complex_number=complex(2,3) #create complex number using function complex and pass argument(2,3)
print(complex_number)

(2+3j)

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
if (a>b):
  print("a is greater than b") #give two space in collab but in vs code give four space
if(a==b):
  print("a is equal to b")
if(a<b):
  print("a is less than b")

enter first number2
enter second number2
a is equal to b

In [ ]:
#assert keyword to check whether single quote is equal to double quote
double_quote="binaya"
single_quote='binaya'
assert double_quote == single_quote,"strings are different"

In [ ]:
#multiline string
multline_string="""
                    hi my name is binaya.
                    i am graduated"""
print(multline_string)

                    hi my name is binaya.
                    i am graduated

In [ ]:
singleline_string= "**Hi I'm learning string creation.**"
print(singleline_string)

**Hi I'm learning string creation.**

In [ ]:
#string concat
a="string"
b="concat"
c=2
concat=a+" "+b
print(concat)

string concat

## STRING INDEXING

In [ ]:
string="binaya" #string indexing
print(string[2])

n

In [ ]:
strings="helmo"
print(strings[0:3:1]) #[start:stop:step]

hel

In [ ]:
a="pokhrel"
print(a[0:4]) #stop takes (4-1) i.e 3 index

pokh

In [ ]:
a="pokhrel"
print(a[-2]) #negative indexing start from -1 from right to left

e

In [ ]:
a="pokhrel" #reverse string
print(a[-1:-8:-1])

lerhkop

In [ ]:
a="binaya pokhrel" #reverse string
print(a[::-1]) #samething as above

lerhkop ayanib

In [ ]:
#strings are immutable
a="Binaya"
a[0]="b"
#so trying to replace B with b isnot possible

In [ ]:
#string to upper case
a="binaya pokhrel"
print(a.upper())

BINAYA POKHREL

In [ ]:
#split string
a.split()

['binaya', 'pokhrel']

In [ ]:
a.split("binaya")

['', ' pokhrel']

In [ ]:
to_replace="binaya" # for replacing string used replace function
replace_by="samir"
a.replace(to_replace,replace_by)

'samir pokhrel'

In [ ]:
b="123"
b.isdigit() #to check string or number

True

In [ ]:
#strip function replace heading and trailing
r="!! binaya pokhrel !!"
r.strip("!!")

' binaya pokhrel '

In [ ]:
#string formating
a=input("enter user name\n")
b=int(input("enter user age\n"))
print("hello {}.Your age is {}".format(a,b)) #first way
f"hello {a}.Your age is {b}" #second way

enter user name
binaya pokhrel
enter user age
24
hello binaya pokhrel.Your age is 24

'hello binaya pokhrel.Your age is 24'

In [ ]:
string="binaya pokhrel!!"
f"length of string is {len(string)}"

'length of string is 16'

In [ ]:
#loop to print individual character
for char in string:
  print(char)
  print("--------")

b
--------
i
--------
n
--------
a
--------
y
--------
a
--------

--------
p
--------
o
--------
k
--------
h
--------
r
--------
e
--------
l
--------
!
--------
!
--------

In [ ]:
#using range funnction for loop. syntax: range(start, end, step)
string="ram"
for idx in range(len(string)):
 print(idx)
 print(string[idx])
 print("----------")

0
r
----------
1
a
----------
2
m
----------

## Some Assignment

In [ ]:
#print length of string without using len function by using function

def string_length(my_string):
  int_count=0
  for length in my_string:
   int_count=int_count+1
  return int_count

some_string=input("enter string\n")
lengths=string_length(some_string)
print("the length of string is",lengths)

enter string
kathmandu
the length of string is 9

In [ ]:
#next way to print length
some_string=input("enter string\n")
int_count=0
for length in some_string:
   int_count=int_count+1
print("length of string is",int_count)

enter string
gin
length of string is 3

In [ ]:
#write program to print vowel and consonant on given string

char=input("enter the character\n")
to=char.upper()
if(to=='A' or to== 'E' or to== 'I' or to== 'O' or to== 'U'):
 print(to+" is"+" Vowel")
else:
 print(to +" is"+" Consonant")

enter the character
e
E is Vowel

In [ ]:
#write python program to extract first and last 2 character into new string.
#example
#input=my name is xyz
#output=myyz

user_input="my name is xyz"
string1=user_input[0:2:1]
string2=user_input[12:14:1]
print(string1+string2)

myyz

In [ ]:
#ask user to input non empty string
#example non_empty_str="hello world"
#output_str="helo world"

non_empty_str=input("enter non empty string\n")
to_replace="l"
non_empty_str.replace(to_replace,"",1)

enter non empty string
hello world

'helo world'

In [ ]:
#swap two character of each string
#example
#        first_string="first"
#        second_string="second"
#        output_str="serst ficond"

first_string=input("enter first string\n")
second_string=input("enter second string\n")
output_str=second_string[0:2]+first_string[2:5]+" "+first_string[0:2]+second_string[2:6] #performing slicing operation
print(output_str)

enter first string
first
enter second string
second
serst ficond

#LIST

In [ ]:
simple_list=["A", "B", 1, 2]
print(simple_list)

['A', 'B', 1, 2]

In [ ]:
simple_lists=[["A","B"],[1,2]] #nested list or 2D list
print(simple_lists)
print(type(simple_lists))

[['A', 'B'], [1, 2]]
<class 'list'>

In [ ]:
simple_listing=["binaya", "rahul","ritesh", ["ribha", "Rabindra"]]#accessing list item using index
simple_listing[3][1] #extracting 'Rabindra' from list
simple_listing[0:3] #slicing i.e extracting 3 item from lists

['binaya', 'rahul', 'ritesh']

In [ ]:
#list are mutable
mutable_list=['hi', 'i', 'am', 'mutable']
mutable_list[0]="HI"
print(mutable_list)

['HI', 'i', 'am', 'mutable']

In [ ]:
#list method are append()->add item at end of list, insert()->insert item at specific index, remove(), pop(), reverse(), sort()
list1=["A","B","C"]
list1.append("D")
print(list1)

list1.insert(2,"ram")
print(list1)

list1.remove("C")
print(list1)

list1.reverse()
print(list1)

list1.pop() #syntax lis1.pop(index)
print(list1)

list1.sort()
print(list1)
print("\n")
print("---------List concatenation---------")
print("\n")


#concat list
list2=[1,2,3]
list3=list1+list2
print(list3)

#join list
input_list=["hello","world"]
output_list=" ".join(input_list)
print(output_list)
print(type(output_list)) #list to string conversion

#list comprehension

sample_list=["APPLE","Mango","BaNaNa"]
lower_Case_list=[item.lower() for item in sample_list]
print(lower_Case_list)

['A', 'B', 'C', 'D']
['A', 'B', 'ram', 'C', 'D']
['A', 'B', 'ram', 'D']
['D', 'ram', 'B', 'A']
['D', 'ram', 'B']
['B', 'D', 'ram']


---------List concatenation---------


['B', 'D', 'ram', 1, 2, 3]
hello world
<class 'str'>
['apple', 'mango', 'banana']

In [ ]:
#program to sum all the items in a lists
simple_list=[1,2,3,4,5,4]
total=0

for sum in simple_list:
      total=sum+total
print("the sum of item in list is",total)

the sum of item in list is 19

In [ ]:
#program to get largest number from list
sample_list=[10,20,2000,100,40]
print("the largest number is",max(sample_list))

the largest number is 2000

In [ ]:
#program to get smallest number from list
sample_list=[-1,0,1,2]
print("the smallest number is",min(sample_list))

the smallest number is -1

In [ ]:
#python program to insert a given string at the beginning of all items in a list
sample_list=['1','2','3','4']
str_to_insert="emp"
result = [str_to_insert + item for item in sample_list] #list comprehension
print(result)

['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
#python program to check list is empty or not

my_list = []
if my_list==[]:
 print("list is empty")
else:
 print("list is not empty")

list is empty

In [ ]:
#count number of string where string length is 2 or more and first and last character are same from given list of string

sample_list=['abc', 'xyz','aba','1221']
try_list=[]
try_list=sample_list[idx]
count=0
for idx in range(len(sample_list)):

SyntaxError: ignored

In [ ]:
#display longest word with its length

 sample_list=['mango','banana','kiwi','apple','grape']
for idx in range(len(sample_list)):
  a=[]
  a=len(sample_list[idx])
  print("length=",(a))
  print(sample_list[idx])

length= 5
mango
length= 6
banana
length= 4
kiwi
length= 5
apple
length= 5
grape

#Tuple

In [ ]:
#create empty tuple
a=(1,'item2',3)
print(type(a))
print(a)
print(len(a))

b=((1,2),'item2',(3,4)) #nested tuple
print(b)

<class 'tuple'>
(1, 'item2', 3)
3
((1, 2), 'item2', (3, 4))

In [ ]:
#string converted into list
sample_str="i am creating tuple"
list_from_str=sample_str.split(" ") #here string converted into list
tuple_from_lst=tuple(list_from_str) #list converted into tuple
print(tuple_from_lst)

('i', 'am', 'creating', 'tuple')

In [ ]:
shopping_list=[] #asking user to insert item in list
list_length=4
for idx in range(list_length):
  item=input("enter item\n")
  shopping_list.append(item)
print(shopping_list)

enter item
ram
enter item
shyam
enter item
gita
enter item
1
['ram', 'shyam', 'gita', '1']

In [ ]:
sample_lst=('a','b','c','d')
print(sample_lst[-1])
print(sample_lst[0:3])#slicing
print(sample_lst[0::2])

d
('a', 'b', 'c')
('a', 'c')

In [ ]:
#reverse tuple
sample_lst=('a','b','c','d')
print(sample_lst[-1:-5:-1])

('d', 'c', 'b', 'a')

In [ ]:
#method in tuple are count() and index()
tuple_demo=(1,2,2,2,3,4,4,2,5,6,7)
tuple_demo.count(4)
tuple_demo.index(4)#return index of value

5

In [ ]:
tu_try=("ram","shyam","hari","kishna")
a,b,c,d=tu_try #assigning tuple to variable
print(a)
print(b)
print(c)
print(d)
print("--------------")
for idx, item in enumerate(tu_try):#printing index and value
  print(idx)
  print(item)

ram
shyam
hari
kishna
--------------
0
ram
1
shyam
2
hari
3
kishna

##Dictionary

In [ ]:
#creating dictionary
empt_dict={}
print(type(empt_dict))

simple_dict={
    "mango":2,
    "orange":3
    }

print(simple_dict)
print(simple_dict["mango"]) #accessing value from dictionary
print("------------------")
#nested dictionary
nested_dict={
    "fruits":{"mango":2,"apple":10},
    "drinks":{"coke":2,"juice":20}
}
print("----------------------")
print(nested_dict)
print(nested_dict["fruits"])
print("----accessing 2 value from key coke---------")
print(nested_dict["drinks"]["coke"]) #accessing 2 value from key coke

<class 'dict'>
{'mango': 2, 'orange': 3}
2
------------------
----------------------
{'fruits': {'mango': 2, 'apple': 10}, 'drinks': {'coke': 2, 'juice': 20}}
{'mango': 2, 'apple': 10}
----accessing 2 value from key coke---------
2

In [ ]:
simple_dict={
    "mango":10,
    "apple":20
}
simple_dict["mango"]=100 #dictionary are mutable
print(simple_dict)
simple_dict.update({"mango":30}) #update method()
print(simple_dict)
simple_dict.update({"watermelon":80})
print(simple_dict)
simple_dict.pop("watermelon")
print(simple_dict)

{'mango': 100, 'apple': 20}
{'mango': 30, 'apple': 20}
{'mango': 30, 'apple': 20, 'watermelon': 80}
{'mango': 30, 'apple': 20}

In [ ]:
list(simple_dict.items()) #key value pair

[('mango', 100), ('apple', 20)]

In [ ]:
#print all keyname in dictionary one by one
for key_names in simple_dict:
  print(key_names)
  print("---------")

mango
---------
apple
---------

In [ ]:
for value in simple_dict:  #accesing value using loop
    print(simple_dict[value])

30
20

In [ ]:
for key,value in simple_dict.items(): #key value in loop
  print(f"key={key}")
  print(f"value={value}")
  print("---------")

key=mango
value=30
---------
key=apple
value=20
---------

In [ ]:
sample_list=[10,20,30,40]
print(sample_list)

sample_dict={idx:item for idx, item in enumerate(sample_list)} #dictinary comprehension and converting list to dictionary
print(sample_dict)

[10, 20, 30, 40]
{0: 10, 1: 20, 2: 30, 3: 40}

SETS

In [ ]:
#create empty set
empt_set=set()
print(type(empt_set))

<class 'set'>

In [ ]:
simple_Set={"item1",10,"item2","item31"}
print(simple_Set)

{'item2', 10, 'item31', 'item1'}

In [ ]:
#union in set
x={1,2,3,4,5}
y={6,7,8}
z=x.union(y)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#intersection in set
x={1,2,3,4,5}
y={1,2,4}
z=x.intersection(y)
print(z)

{1, 2, 4}

In [ ]:
#diferences  in set
x={1,2,3,4,5}
y={1,2,4}
z=x.difference(y)
print(z)

{3, 5}